@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>


<form method="post" enctype="multipart/form-data" style="width:600px;">
    <div>
        <label>Ingrese su correo</label>
        <input class="form-control" type="email" name="De" placeholder="Email" />
    </div>
    <br />
    <div>
        <label>Empresa</label>
        <input class="form-control" type="text" name="Empresa" placeholder="Ingrese el nombre de la empresa" />
    </div>
    <div>
        <label>Motivo</label>
        <input class="form-control" type="text" name="Motivo" placeholder="Motivo de su consulta" />
    </div>
    <div>
        <label>Fono</label>
        <input class="form-control" type="number" name="Fono" placeholder="Ingrese el Fono" />
    </div>
    <div>
        <label>Mensaje</label>
        <br />
        <textarea style="width:600px; height:150px;" name="Mensaje" placeholder="Escriba su mensaje"></textarea>
    </div>
    <br />
    <!--
    <div>
        <input type="file" name="Fichero" class="btn-default" />
    </div>
    -->
    <br />
    <div>
        <button id="enviar" class="btn-primary" type="submit">Enviar Correo</button>
    </div>



</form>
<h3 style="color:blue">
    @ViewBag.Message
</h3>
<h3 style="color:red">
    @ViewBag.Error
</h3>